{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {cowboy, "2.14.0"}
]}.

{relx, [
    {release, {pi_agent_bus, "0.1.0"}, [
        pi_agent_bus,
        cowboy
    ]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, false},
    {include_nodetool, false},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.
